@use "responsive";
@use "colours";

footer {
  @include responsive.pageBase;
  @include responsive.margin($bottom: 1rem, $top: 2rem);

  font-size: 0.9em;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: colours.base("03");
    text-decoration: none;
  }
}
