@use "article";
@use "colours";
@use "print";
@use "stats";
@use "nav";
@use "footer";

body {
  background: colours.base("00");
  color: colours.base("07");
  scrollbar-color: colours.base("02") #151515;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;

  main {
    max-width: 54em;
    margin: auto;
    padding: 0 2em;
  }
}

::-webkit-scrollbar {
  width: 0.66vw;
  background-color: colours.base("00");

  &-thumb {
    background-color: colours.base("02");
    border-radius: 0.4em;
  }
}

a {
  text-decoration: none;
}

div {
  &.right {
    float: right;
  }

  &.clearfix {
    overflow: auto;
  }
}

h1 {
  border-style: solid;
  border-width: 0 0 2px;
  text-align: center;
}

h2 {
  color: colours.base("06");
}

img {
  max-width: 90%;
  max-height: 25em;
  margin: auto;
  display: block;
}

code {
  overflow-wrap: break-word;
  color: colours.base("0b");
}

@media (pointer: coarse) {
  li > a {
    display: inline-block;
    padding: 0.2em 0;
  }
}
