{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <a class="link" href="{{ $.Site.BaseURL }}"><span aria-hidden="true">&lt; </span> <span>Back to recipes</span></a>
  <div class="recipe" itemscope itemtype="http://schema.org/Recipe">
    <!-- call up the image and image credit link -->
    {{ with .Params.Image }}
      <div class="cover-image">
        <img itemprop="image" src="{{ . }}" />
      </div>
    {{ else }}
      {{ range first 1 (.Resources.ByType "image") }}
        <div class="cover-image">
          <img itemprop="image" src="{{$.Site.BaseURL}}{{ .RelPermalink }}" />
        </div>
      {{ end }}
    {{ end }}
    <h1 class="post-header" itemprop="name">{{ .Title }}</h1>
    <article class="post-content px2">
      <div class="content" itemprop="description">{{.Content}}</div>
      <table>
        <thead>
          <tr>
            {{ with .Params.prepTime }}
              <th>prep</th>
            {{ end }}
            {{ with .Params.cookTime }}
              <th>cook</th>
            {{ end }}
            {{ with .Params.yield }}
              <th>servings</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{ with .Params.prepTime }}
              <td>15min</td>
            {{ end }}
            {{ with .Params.cookTime }}
              <td>{{ . }}</td>
            {{ end }}
            {{ with .Params.yield }}
              <td>{{ . }}</td>
            {{ end }}
          </tr>
        </tbody>
      </table>
      {{ with .Params.Components}}
        <h2>Components</h2>
        <ul class="ingredients">
          {{ range . }}
            <li class="ingredient">
              {{ with ( . | markdownify) }}
                {{ partial "recipe_item.html" . }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Params.Ingredients }}
        <h2>Ingredients</h2>
        <ul class="ingredients" itemprop="ingredients">
          {{ range . }}
            <li  class="ingredient" itemprop="recipeIngredient">
              {{ with ( . | markdownify) }}
                {{ partial "recipe_item.html" . }}
              {{ end }}
            </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Params.Directions }}
        <h2>Directions</h2>
        <ol class="ingredients" itemprop="recipeInstructions">
          {{ range . }}
            <li class="ingredient">
              {{ with ( . | markdownify) }}
                {{ partial "recipe_item.html" . }}
              {{ end }}
            </li>
          {{ end }}
        </ol>
      {{ end }}
      {{ with .Params.Components }}
      <h2>Components</h2>
      <div class="components">
        {{ range . }}
          {{ $compTitle := . }}
          <div class="component">
            {{ range where $.Site.Pages "Title" $compTitle }}
              <h3>{{ .Title }}</h3>
              {{ range (.Resources.ByType "image") }}
                <div
                  class="cover-image"
                  style="background-image:url({{ $.Site.BaseURL }}{{ .RelPermalink }});"
                >
                  <img
                    class="hide"
                    itemprop="photo"
                    src="{{ $.Site.BaseURL }}{{ .RelPermalink }}"
                  />
                </div>
              {{ end }}
              <h4>Ingredients</h4>
              {{ with .Params.Ingredients }}
                <ul class="ingredients" itemprop="ingredients">
                  {{ range . }}
                    <li itemprop="ingredient">
                      {{ with ( . | markdownify) }}
                        {{ partial "recipe_item.html" . }}
                      {{ end }}
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
              <h4>Directions</h4>
              {{ with .Params.Directions }}
                <ol class="ingredients" itemprop="instructions">
                  {{ range . }}
                    <li>
                      {{ with ( . | markdownify) }}
                        {{ partial "recipe_item.html" . }}
                      {{ end }}
                    </li>
                  {{ end }}
                </ol>
              {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </article>
  {{ end }}
  <br />
  {{ with .Params.Category }}
    {{ partial "taxonomy/category" . }}
  {{ end }}
  {{ with .Params.Cuisine }}
    {{ partial "taxonomy/cuisine" . }}
  {{ end }}
  {{ with .Params.Tags }}
    {{ partial "taxonomy/tags" . }}
  {{ end }}
{{ end }}
