{{ define "main" }}
<article class="recipe" itemscope itemtype="https://schema.org/Recipe">
  <header class="recipe-header">
    <h1 class="recipe-title" itemprop="name">{{ .Title | title }}</h1>
    <div class="recipe-meta">
      {{ if not .Page.Date.IsZero }}
        <span class="recipe-meta-item">
          <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
        </span>
      {{ end }}
      <span class="recipe-meta-item" itemprop="author">{{ .Params.author | default .Site.Params.author.name }}</span>
    </div>
    {{ with .Params.tags }}
      <div class="recipe-tags">
        {{ range . -}}
          <a class="tag-pill" href="{{ . | urlize | lower | printf "tags/%s" | relURL }}">{{ . | title }}</a>
        {{ end -}}
      </div>
    {{ end }}
  </header>

  <section class="recipe-body" itemprop="articleBody">
    {{ with .Params.recipe_image -}}
      {{ with $.Resources.GetMatch . -}}
        <figure class="recipe-image">
          <img src="{{ .RelPermalink }}" alt="Recipe image" itemprop="image" />
        </figure>
      {{- end }}
    {{- end -}}

    {{ partial "stats" . }}

    {{ .Content }}
  </section>
</article>
{{ end }}
