<head>
  <title>
    {{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{- $image := resources.Get "images/icon.png" -}}
  {{- $favicon := $image.Resize "32x32" -}}
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ $favicon.RelPermalink }}"
  />
  <link
    rel="icon"
    type="image/x-icon"
    href="{{ $favicon.RelPermalink }}"
  />
  {{- $options := dict "transpiler" "dartsass" "targetPath" "styles.css" "outputStyle" "compressed" }}
  {{- $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    type="text/css"
    {{/* integrity="{{ $style.Data.Integrity }}" */}}
    crossorigin="anonymous"
  />
  {{- with .Params.tags -}}
    <meta name="keywords" content="{{ delimit . "," }}">
  {{- end -}}
  {{- with .Site.Params.description -}}
    <meta name="description" content="{{ . }}" />
  {{- end -}}
  {{ with  .OutputFormats.Get "rss" -}}
    <link
      rel="{{ .Rel }}"
      type="{{ .MediaType.Type }}"
      title="{{ $.Site.Title }} RSS "
      href="{{ .Permalink }}"
     />
  {{ end -}}

  <base href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="manifest" href="{{ absURL "manifest.json" }}" />
  <meta name="theme-color" content="{{ .Site.Params.theme }}" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ .Site.Params.theme }}" />
  <meta name="mobile-web-app-capable" content="yes" />

  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Recipe",
      "image" : {{ apply .Params.images "absURL" "." }},
      "name": "{{- if .Params.title -}} {{- .Params.title -}} {{- else -}} {{- .Site.Title }} {{- end -}}"
    }
  </script>

  {{- with .Site.Author.name -}}
    <meta name="author" content="{{ . }}" />
  {{- end -}}
</head>
