<nav role="navigation" aria-label="main navigation">
  <div class="container clearfix">
    <a class="path" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <div class="right">
      {{ range $i, $page := .Site.Menus.main -}}
        {{ if not (eq $i 0) }}|{{ end }}
        <a class="path" href="{{ $page.URL }}">
          {{ with $page.Pre -}}
            <span class=pre>{{ . | safeHTML }}</span>
          {{- end }}
          <span class=menuname>{{ $page.Name | safeHTML }}</span>
        </a>
      {{ end }}
    </div>
  </div>
</nav>
