<nav role="navigation" aria-label="main navigation">
  <a class="nav-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  <div class="nav-links">
    {{ range $i, $page := .Site.Menus.main -}}
      {{ if not (eq $i 0) }}<span class="nav-sep" aria-hidden="true">|</span>{{ end }}
      <a class="nav-link" href="{{ $page.URL }}">
        {{ with $page.Pre -}}
          <span>{{ . | safeHTML }}</span>
        {{- end }}
        {{ $page.Name | safeHTML }}
      </a>
    {{ end }}
  </div>
</nav>
