<div class="stats-bar">
  <div class="stats-card">
    <span class="stats-icon">🍽️</span>
    <span class="stats-label">Servings</span>
    <span class="stats-value">{{ .Params.servings | default "—" }}</span>
  </div>
  <div class="stats-card">
    <span class="stats-icon">⏲️</span>
    <span class="stats-label">Prep Time</span>
    <span class="stats-value">{{ .Params.prep_time | default "—" }} {{ .Params.prep_increment | default "min" }}</span>
  </div>
  <div class="stats-card">
    <span class="stats-icon"> {{- if (default true .Params.cook) -}}🍳{{- else -}}❄️{{- end -}} </span>
    <span class="stats-label"> {{- if (default true .Params.cook) -}}Cook Time{{- else -}}Cool Time{{- end -}} </span>
    <span class="stats-value">{{ .Params.cook_time | default "—" }} {{ .Params.cook_increment | default "min" }}</span>
  </div>
</div>
