{{ define "main" }}
<header>
  <h1>🍲 {{ .Site.Title | title }} 🍳</h1>
</header>

<h2>Categories</h2>
{{ if isset .Site.Taxonomies "tags" -}}
  {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <div id="tag-cloud">
      {{ range $name, $items := .Site.Taxonomies.tags -}}
        <a
          href="{{ printf "%s/%s" "tags" ($name | urlize | lower) | absURL }}"
          id="tag_{{ $name }}"
        >{{ $name | title }}</a>
      {{ end }}
    </div>
  {{ end -}}
{{- end }}

<h2>All Recipes</h2>
<ul class="article-list">
  {{ range.Site.RegularPages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
