<figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
  {{ with .Get "link" }}
    <a href="{{ . }}">
      <img
        src="{{ $.Get "src" }}"
        {{ with ($.Get "alt" | default ($.Get "caption")) }}
          alt="{{ . }}"
        {{ end }}
        {{ with $.Get "mouse" }}title="{{ . }}"{{ end }}
      />
    </a>
  {{ else }}
    <img
      src="{{ .Get "src" }}"
      {{ with (.Get "alt" | default (.Get "caption")) }}alt="{{ . }}"{{ end }}
      {{ with .Get "mouse" }}title="{{ . }}"{{ end }}
    />
  {{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
    <figcaption>
      {{ if isset .Params "title" }}
        <h4>{{ .Get "title" }}</h4>
      {{ end }}
      {{ if or (.Get "caption") (.Get "attr") }}
        <p>
          {{ .Get "caption" }}
          {{ with .Get "attrlink" }}
            <a href="{{ . }}">{{ $.Get "attr" }}</a>
          {{ else }}
            {{ .Get "attr" }}
          {{ end }}
        </p>
      {{ end }}
    </figcaption>
  {{ end }}
</figure>
